/*
Version 1.2.2
*/

.overlay .readmore {
	float: right;
}

/* Leaving Site Popup - Center email input */
#field_4_4 .ginput_container_email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#field_4_4 input[type="email"] {
    margin: 0;
}

@media ( min-width: 360px ) {
    .woocommerce #content table.cart td.actions input#coupon_code {
        width: 150px;
    }
}

/* Show shipping address title instead of "Ship to a different address?" checkbox */
label.woocommerce-form__label:has(#ship-to-different-address-checkbox:checked) {
	display: none;
}

#ship-to-different-address:has(#ship-to-different-address-checkbox:checked)::before {
	content: 'Shipping address';
}

/* Fix Facebook comments width */
.post-comments .fb-comments iframe {
    width: 100% !important;
}

/* Improve appearance of Custom Pricing for WooCommerce form input on product page */
.product .cpw .cpw-input {
	text-align: left;
	padding: 10px 10px;
	margin-top: 8px;
	font-weight: normal;
}